# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
scripts/.venv/

# Datasets / CSV
data/*.csv

# Frames & raw data
video_frames/
files/

# Collected temp outputs
collected/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
